* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* بداية الهيدر */
header {
    height: 100;
}

.imm {
    background-image: red;
}

#navbar img {
    width: 80px;
    margin-left: 100px;
    background-color: red;

}

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    align-items: center;
    margin-bottom: 20px;
    padding: 30px;

}

#navbar ul,
a {
    list-style: none;
    text-decoration: none;
}

#navbar ul {
    display: flex;
    margin-right: 100px;
}

#navbar ul a {
    padding: 20px 15px;
    color: aliceblue;
    font-weight: 600;
    margin: 30px;
}

#navbar ul a:hover {
    border: solid rgb(27, 8, 95);
    border-radius: 80px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.content h1 {
    font-size: 50px;
}

.content p {
    margin: 20px 0px 40px;

}

.name {
    color: red;
}

.link {
    display: inline-block;
    border: solid rgb(133, 27, 27) 1px;
    color: black;
    padding: 15px 30px;
    border-radius: 15px;
}

.link:hover {
    background-color: orange;
    font-size: 20px;
    font-weight: 600;

}

/* نهاية الهيدر */
.container {
    max-width: 1100px;
    margin: auto;
    justify-content: center;

}

#About {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.title {
    text-align: center;
    margin-bottom: 4rem;
}

.title h2 {
    font-size: 30px;
    margin-bottom: 20px;

}

.title p {
    font-size: 15px;
    font-weight: 600;
    color: rgb(102, 105, 107);
}

.about-content {
    display: flex;
    justify-content: space-between;
    margin-right: 7rem;
}

.about-content img {
    width: 450px;
    margin-right: 2rem;



}

.about-content p {
    color: rgb(24, 23, 23);
    margin-right: 10rem;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;

}

.sec-link {
    color: rgb(244, 245, 247);
    background-color: rgb(77, 78, 78);
    border: solid 5px;
    justify-content: center;
    text-align: center;
    margin: 10px;
    padding: 15px;

}

.sec-link:hover {
    background-color: orange;
    font-size: 18px;
}

/* هنبدا في السكشن ال offers */
/* اول حاجه العنوان */
#offers {
    height: 100%;
    justify-content: center;
    margin-bottom: 4rem;
    background-color: rgb(23, 129, 28);

}

.title-scnd {
    justify-content: center;
    margin-top: 4rem;
    text-align: center;

}

.title-scnd h2 {
    margin-bottom: 1rem;
    font-size: 50px;
    font-weight: 500;
}

#offers img {
    width: 200px;
    justify-content: center;
    height: 200px;
    margin: 30px;
    padding: 10px;
    border-radius: 100%;

}

.offers-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
}

.offers-items h3 {
    padding: 10px;

}

.eat,
p {
    margin: 20px;
    padding: 20px;
    line-height: 2px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;

}

.eat {
    font-size: 30px;

}

.price {
    color: rgb(194, 138, 34);
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}

/* كد خلصنا السكشن دة */
/* هنبدا سكشن المنيو */
.Menu {
    padding: 5rem 0;
    background-color: aliceblue;
    padding: 5rem 0;
}

.Menu .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;

}

.Menu .title-secnd h2 {
    margin: 10px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.Menu .title-secnd p {
    color: rgb(102, 102, 107);
    justify-content: center;
    text-align: center;
    font-weight: 600;
}

.menu-items {
    display: flex;
    justify-content: center;
    align-items: center;

}

.Menu .menu-items .menu-item img {
    width: 100px;
    border-radius: 50%;

}

.Menu .menu-items .menu-item h3 {
    color: black;
    border-bottom: 2px dashed red;
    font-weight: 800;
    margin-right: 20px;
    padding-bottom: 5px;
    position: relative;

}

.Menu .menu-items .menu-item p {
    margin-top: 2px;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
}

.Menu .menu-items .menu-item span {
    position: absolute;
    top: 0;
    right: 0;
    color: orangered;
}

.btn {
    display: block;

    background-color: rgb(235, 202, 17);
    color: rgb(250, 248, 248);
    margin: 20px;
    padding: 20px;
    font-size: 15px;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
    font-size: 20px;
    font-weight: 500;
}

/* <!-- day time start --> */
#day-time {
    background-color: rgb(56, 54, 52);
    color: rgb(26, 102, 139);
    text-align: center;
    display: block;
}

.day-time img,
.day-time-item img {
    width: 100px;
    border-radius: 50%;
}

.day-time {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;

}

.day-time-item h3 {
    font-size: 30px;
    margin-top: 10px 0 5px;
    margin-bottom: 2px;
}

.day-time-item p {
    font-size: 25px;
    font-weight: 500;
    color: aliceblue;
}

/* <!-- day time end --> */
/* <!-- بداية الجالري --> */
.Gallery {
    background-color: rgb(108, 153, 138);
    padding: 8rem 0 6rem;

}

.Gallery h2 {
    justify-content: center;
    color: black;

    text-align: center;
    font-size: 30px;
    font-weight: 700;

}

.img-gallery img {
    justify-content: center;
    text-align: center;
    width: 280px;
    height: 200px;
    border-radius: 15px;
    margin: 15px;
    margin-left: 6rem;
    margin-top: 5rem;
    opacity: 0.8;



}

.img-gallery {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.img-gallery img:hover {
    opacity: 1;
}

/* <!-- نهاية الجالري --> */
#contact {
    padding: 5rem;
    background-color: rgb(82, 79, 82);


}

#contact .contaner {
    max-width: 900px;
}

#contact.contact-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contact.contact-content-contact-info div {
    margin: 20px;
}

.add {
    font-size: 30px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fffafa;
    border-bottom: solid 1px orange;
}

.contact-info p {
    color: #f1eaea;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
}

.work {
    font-size: 50px;
    font-weight: 700;
    color: black;

}

.contact-info h3 {
    justify-content: center;
    color: black;
    align-items: center;
    font-weight: 700;
}

form {

    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    margin: 40px;
    width: 900px;
    padding: 50px;
    background-color: rgb(156, 136, 136);
    border: solid 2px;

}

.form label {
    color: darkblue;
    font-size: 20px;
    font-weight: 500;
}

#sub {
    background-color: rgb(6, 5, 15);
    color: #fffafa;
    border: solid 1px rgb(84, 77, 151);
    margin: 10px;
    padding: 15px;
    font-size: 30px;
    border-radius: 30px;
    font-weight: 500;
}

.work {
    font-size: 50px;
    font-weight: 700;
    color: black;

}

#sub:hover {
    background-color: rgb(243, 10, 60);
    color: #f1eaea;
}

#work {
    color: black;
    font-size: 30px;
    border-bottom: solid 1px rgb(233, 211, 14);

}

#work:hover {
    border-bottom: solid 1px rgb(233, 211, 14);

}

#form {
    margin: 30px;
    padding: 20px;
}

.foot a {
    justify-content: center;
    justify-items: center;
    color: #0928da;
    font-size: 18px;
    margin: 0px;
    padding: 30px;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.foot a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(61, 100, 136);
    padding: 15px;

}

.mail {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 350px;
    font-size: 20px;
    font-weight: 300;
    color: #1d5cbb;
    border-bottom: solid 2px rgb(173, 132, 56);
}
.form{
     width: 95%;
        max-width: 900px;
        padding: 60px;
}

@media (max-width:1000px) {
    #navbar img {
        margin-left: 20px;
    }

    #navbar ul {
        margin-right: 20px;
        display: flex;
    }

    #navbar ul a {
        padding: 10px;
        justify-content: space-between;
        margin: 16px;
        padding-bottom: 20px;

    }

    .content h1 {
        font-size: 30px;
    }

    #About {
        height: 80%;
        padding: 4rem 3rem;
    }

    .title p {
        margin-right: 2rem;


    }

    .about-content img {
        width: 250px;
        height: 650px;

    }

    #offers img {
        width: 150px;

    }

    .title-scnd h3 {
        font-size: 18px;
    }


    .offers-items h3 {
        font-size: 18px;
    }

    .offers-items p {
        line-height: 1.7;

    }

    .day-time-item h3 {
        font-size: 24px;
        margin-top: 5px 0 3px;
        margin-bottom: 1px;
    }

    .Gallery h2 {
        font-size: 20px;
        font-weight: 500;

    }

    .img-gallery img {
        width: 200px;
        margin-left: 5px;
        height: 180px;


    }

    .day-time-item p {
        font-size: 20px;
        font-weight: 400;

    }

    .mail {
        font-size: 15px;
        font-weight: 100;
        margin: 250px;
    }

    form {
        background: #f1eaea;
        border: none;
        margin: 20px;
        padding: 30px;
        flex-direction: column;
    }


}

@media(max-width:600px) {
    #navbar {
        flex-direction: column;
        padding: 2px;


    }

    #navbar img {
        margin-bottom: 20px;
    }

    .content h1 {
        font-size: 25px;
    }

    .about-content {
        flex-direction: column;
    }

    .about-content img {
        width: 500px;
        margin-top: 28px;

    }

    .day-time-item p {
        font-size: 10px;
        font-weight: 300;

    }

    .mail {
        font-size: 12px;
        margin: 150PX;
    }

    form {
        margin-left: 12px;
        justify-content: center;
        justify-items: center;
        flex-direction: column;
        background-color: aquamarine;

    }

    #ff {
        background-color: #0928da;
        text-align: center;
        margin: 10px;
    }
    #offers .offers-items{
        flex-direction: column;
    }
    .day-time-item p{
        font-size: 9px;
        font-weight: 100;
    }
    .mail{
         margin: 100px;
    font-size: 15px;
    font-weight: 200;
    }
    .work p{
        font-size: 5px;
        line-height: 1.8;
        font-weight: 100;
        
       
    }
    .form{
        width: 90%;
        max-width: 400px;
        padding: 20px;
    
    }
    #ff{
        background-color:aquamarine;
    }




}